<!-- Page -->
<% let BACKEND = sails.config.custom.BACKEND %>
    <div class="page">
        <!-- Page Content -->
        <div class="page-content container-fluid ">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12">
                    <div class="panel">
                        <div class="page-content-actions">
                            <p>
                                <%= __('You can refer this file sample below to import')%> </br>
                                <a target="new" href="https://drive.google.com/drive/folders/1Hms-BUvb27zIsNNyvFm6n8DiI2SgeXSv?usp=sharing" class="btn btn-success  mt-20" >
                                        <%= __('Export sample file') %>
                                </a>
                            </p>
                        </div>
                        <div class="page-content-actions">
                            <div class="upload" aria-label="Basic example" role="group">
                                <label for=""><%= __('Import menu') %></label>
                                <form autocomplete="off" id="formImportMenu"  data-class="<%=schoolObj.id%>">
                                    <input type='hidden' name='_csrf' value='<%= _csrf %>'> 
                                        <input type="file" id="input-file-max-fs">
                                </form>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    






<% block('localScripts', '<script src="/vendors/moment/moment.js"></script>') %>  
<% block('localScripts', '<script src="/js/backend/import/menu.js"></script>') %>  
<% block('localScripts', '<script src="/vendors/sweetalert/sweetalert.min.js"></script>') %>