<table class="table table-hover dataTable" id="tblBranch">
  <thead>
    <tr class="bg-custom-primary">
      <th width="3%">
        <input id="js-check-all" class="js-checkbox-all checkbox" type="checkbox">
      </th>
      <th width="20%">
        <%= __('Title') %>
      </th>
      <th width="20%">
        <%= __('School minister') %>
      </th>
      <th width="25%">
        <%= __('Address') %>
      </th>
      <th width="3%">
        <%= __('Status') %>
      </th>
      <th width="25%">
        <%= __('Updated by') %>
      </th>
      <th width="3%">
        <%= __('') %>
      </th>
    </tr>
  </thead>
</table>