<%= __('Hello')%> <%=FullName%>,<br/><br/>

<%= __('This message confirms you have changed the password on the Kindie website.')%><br/>
<%= __('Please use the new password to login the system: ')%><%=NewPassword%><br/>

<br/><br/>
<%= __('Best regards,')%><br/>
<%= __('Kindie Team')%><br/>
<a href="http://kindie.net">http://kindie.net</a>

