 <table class="table table-hover dataTable" id="tblStudent" data-branchActive="<%= branchActive %>" data-classActive="<%= classActive %>" data-classActiveTitle="<%=classActiveObj? classActiveObj.title:'' %>" data-csrf="<%= _csrf %>">
  <thead>
    <tr class="bg-custom-primary">
      <th width="3%">
        <input id="js-check-all" class="js-checkbox-all" type="checkbox">
      </th>
      <th width="5%">
        <%= __('#') %>
      </th>
      <th width="3%">
        <%= __('#') %>
      </th>
      <th width="20%">
        <%= __('Fullname') %>
      </th>
      <th width="8%">
        <%= __('DOB') %>
      </th>
      <th width="7%">
        <%= __('Gender') %>
      </th>
      <th width="15%">
        <%= __('Class') %>
      </th>
      <th width="15%">
        <%= __('Father') %>
      </th>
      <th width="15%">
          <%= __('Mother') %>
      </th>
      <th width="10%">
        <%= __('Address') %>
      </th>
      <th width="3%">
        <%= __('Status') %>
      </th>
      <th width="3%">
        <%= __('') %>
      </th>
    </tr>
  </thead>
</table>
