<table class="table table-hover dataTable" id="tblUser">
  <thead>
    <tr class="bg-custom-primary">
      <th width="3%">
        <input id="js-check-all" class="js-checkbox-all checkbox" type="checkbox">
      </th>
      <th width="5%">
        <%= __('#') %>
      </th>
      <th width="15%">
        <%= __('UserName') %>
      </th>
      <th width="20%">
        <%= __('Full name') %>
      </th>
      <th width="15%">
        <%= __('Phone') %>
      </th>
      <th width="15%">
        <%= __('Birthday') %>
      </th>
      <th width="15%">
        <%= __('Email') %>
      </th>
      <th width="20%">
        <%= __('Classes') %>
      </th>
      <th width="3%">
          <%= __('Status') %>
        </th>
      <th width="3%">
        <%= __('') %>
    </th>
    </tr>
  </thead>
</table>
