
<div class="installation" style="background-image:url(/images/guest.jpg);">
  <div class="installation-box card">
    <div class="card-body">
      <div class="col-12 grid-margin stretch-card">
        <form autocomplete="off" id="formCourseSessionSA" class="" data-fv-framework="bootstrap4"
        data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh" data-fv-live="enabled" data-manner="add">
        <div class="card">
          <div class="card-body">
            <h1><%= __('Add default session')%></h1>
            <input type='hidden' name='_csrf' value='<%= _csrf %>'> 
            <div class="form-group row align-items-md-center">
              <label class="col-md-3"><%= __('Code') %></label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="code" id="code" data-fv-notempty="true"
                data-fv-notempty-message="<%= __('Required field') %>" data-fv-stringlength="true"
                data-fv-stringlength-min="2" data-fv-stringlength-max="30"
                data-fv-stringlength-message="<%= __('Code must be at least 2 characters and max 30 characters') %>" />
              </div>
            </div>
            <div class="form-group row align-items-md-center">
              <label class="col-md-3"><%= __('Title') %></label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="title" name="title" data-fv-notempty="true"
                data-fv-notempty-message="<%= __('Required field') %>" data-fv-stringlength="true"
                data-fv-stringlength-min="3" data-fv-stringlength-max="70"
                data-fv-stringlength-message="<%= __('Lastname must be at least 3 characters and max 70 characters') %>" />
              </div>
            </div>
            <div class="form-group row align-items-md-center">
              <label class="col-md-3"><%= __('Start date') %></label>
              <div class="col-md-9">
                <input type="date" value="<%= startDate %>" class="form-control datepicker" id="startTime" name="startTime" rows="2">
                <span class="text-help"></span>
              </div>
            </div>
            <div class="form-group row align-items-md-center">
              <label class="col-md-3"><%= __('End date') %></label>
              <div class="col-md-9">
                <input type="date" value="<%= endDate %>" class="form-control datepicker" id="endTime" name="endTime" rows="2">
                <span class="text-help"></span>
              </div>
            </div>
            <div class="alert hidden" role="alert">
                <i class="mdi mdi-alert-circle"></i>
            </div>
            <button id="btnFormCourseSessionSA" type="submit" class="btn btn-primary waves-effect waves-classic">
              <%= __('Add New') %>
            </button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% block('localScripts', '<script src="/js/backend/installation/courseSession.js"></script>') %>