<table class="table table-hover dataTable" id="tblAlbum" data-csrf="<%= _csrf %>" >
  <thead>
    <tr class="bg-custom-primary">
      <th width="2%">
        <input id="js-check-all" class="js-checkbox-all" type="checkbox">
      </th>
      <th width="15%">
        <%= __('Image') %>
      </th>
      <th width="48%">
        <%= __('Title') %>
      </th>
      <th width="25%">
        <%= __('Classes') %>
      </th>
      <th width="10%">
        <%= __('Status') %>
      </th>
      <th width="3%">
        <%= __('') %>
      </th>
    </tr>
  </thead>
</table>