<!-- Page -->
<% let BACKEND = sails.config.custom.BACKEND %>

<div class="card">
  <div class="card-body">
    <%- partial('../../partials/filter.ejs') %>
    <div class="table-responsive">
      <%- partial('./_list.ejs') %>
    </div>
  </div>
</div>
<div class="modal fade modal-custom" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-category"><%= __('Add New')%></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span>
                </button>
            </div>
            <div class="modal-body">
              <!-- Start Form Data -->
              <form autocomplete="off" id="formCategory" class="" data-fv-framework="bootstrap4"
              data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove"
              data-fv-icon-validating="glyphicon glyphicon-refresh" data-fv-live="enabled" data-manner="add">
              <input type='hidden' name='_csrf' value='<%= _csrf %>'> 
                <div class="form-group row align-items-md-center">
                  <label class="col-md-3"><%= __('Name')%></label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="title" name="title" data-fv-notempty="true"
                    data-fv-notempty-message="<%= __('Required field') %>" data-fv-stringlength="true"
                    data-fv-stringlength-min="3" data-fv-stringlength-max="70"
                    data-fv-stringlength-message="<%= __('Name minimum is 3 characters and maximum is 70 characters') %>" />
                  </div>
                </div>
                <div class="form-group row align-items-md-center">
                  <label class="col-md-3"><%= __('Description')%></label>
                  <div class="col-md-9">
                    <textarea  class="form-control" id="description" name="description"></textarea>
                  </div>
                </div>
                <div class="form-group row align-items-md-center">
                  <label class="col-md-3"><%= __('Parent category')%></label>
                  <div class="col-md-9">
                    <% function showTaxonomies (taxonomies, parentId = null, char = '') { %>
                    <% taxonomies.forEach (function (element, index) { %>
                    <!--If it's child category, let's show-->
                    <% if (element.parent == parentId) { %>
                    <!--Show child category-->
                    <div>
                      <option value="<%= element.id %>"><%= char + element.title %></option>
                    </div>
                    <!--Loop to show current category's child-->
                    <% showTaxonomies (taxonomies, element.id, char += '--'); %>
                    <% char = char.substring(4); %>
                    <% } %>
                    <% }); %>
                    <% } %>
                    <select name="parent" id="parent" class="form-control">
                      <option value='0'>-- <%= __('Choose category') %> --</option>
                      <div><% showTaxonomies(listCategory) %></div>
  
                    </select>
                    <span class="text-help">
                      <%= __('Categories, unlike tags, can have a hierarchy. You might have a Healthy category, and under that have children categories. Totally optional.') %>
                    </span>
                  </div>
                  <!--function show list Category by relationship-->
                </div>

                <div class="form-group row align-items-md-center">
                  <label class="col-md-3">Status</label>
                  <div class="col-md-9">
                    <ul class="list-unstyled list-inline">
                      <li class="list-inline-item">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input id="statusActive" type="radio" class="form-check-input" name="status" checked value="<%= STATUS.ACTIVE %>">
                              <i class="input-helper"></i>
                              <%= __('Active') %>
                            </label>
                          </div>
                        </li>
                        <li class="list-inline-item">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input id="statusDraft" type="radio" class="form-check-input" name="status" value="<%= STATUS.DRAFT %>">
                              <i class="input-helper"></i>
                              <%= __('Draft') %>
                            </label>
                          </div>
                        </li>
                    </ul>
                  </div>
                </div>
                <div class="alert d-none" role="alert">
                    <i class="mdi mdi-alert-circle"></i>
                </div>
                <div class="modal-footer row-button-fluid">
                  <button type="reset" class="btn btn-light" data-dismiss="modal"><%= __('Cancel') %></button>
                  <button id="btnFormCategory" type="submit" class="btn btn-primary waves-effect waves-classic">
                    <%= __('Add New') %>
                    <div hidden>
                      <%= __('Update')%>
                    </div>
                  </button>
                </div>
              </form>
              <!-- End Form Data -->
            </div>
        </div>
    </div>
</div> 
<% block('localScripts', '<script src="/js/backend/taxonomy/category.js"></script>') %> 

