<table class="table table-hover dataTable" id="tblCourseSession">
  <!--START HEADER TABLE-->
  <thead>
    <tr class="bg-custom-primary">
      <th width="3%">
        <input id="js-check-all" class="js-checkbox-all checkbox" type="checkbox">
      </th>
      <th width="10%">
        <%= __('Code') %>
      </th>
      <th width="30%">
        <%= __('Title') %>
      </th>
      <th width="15%">
        <%= __('Start date') %>
      </th>
      <th width="25%">
          <%= __('End date') %>
      </th>
      <th width="8%">
        <%= __('Status') %>
      </th>
      <th width="3%">
          <%= __('') %>
      </th>
    </tr>
  </thead>
  <!--END HEADER TABLE-->
</table>
