<!-- <div class="content-wrapper">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto auth">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <h4><%= __('Forgot password?')%></h4>
        <h6 class="font-weight-light"><%= __('Please enter your e-mail to reset the password')%></h6>
        <form id="frmForgotPassword" data-toggle="validator" role="form" class="pt-3">
          <div class="form-group form-material floating">
            <input type="email" name="emailAddress" class="form-control empty" data-plugin="formMaterial"
              data-fv-notempty="true" data-fv-notempty-message="<%= __('Required field') %>"
              data-fv-message="<%= __('E-mail is invalid') %>"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autofocus> 
            <div class="invalid-feedback"><%= __('Forgot password?')%></div>
          </div>
          <p id="resetPasswordFail" class="text-danger hidden">
            <small><%= __('Email is not exist.')%></small></p>
          <p id="resetPasswordSuccessfully" class="text-success hidden">
            <small><%= __('The new password has been sent to your email. Please check your mail inbox.') %> </small></p>
          <div class="form-group">
            <button type="submit" :syncing="syncing" class="btn btn-primary btn-block btn-lg mt-40"><%= __('Reset password')%></button>
          </div>
        </form>
        <p class="text-center"><a href="/backend/login"><%= __('Go back')%></a></p>
      </div>
    </div>
  </div> 
</div> -->
