<!-- Start Form Data --> 
    <form autocomplete="off" id="formProfile" class="" data-fv-framework="bootstrap4"
        data-fv-message="<%= __('Invalid value') %>" data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh"
        data-fv-live="enabled" data-id="<%- profile ? profile.id : '' -%>">
        <input type='hidden' name='_csrf' value='<%= _csrf %>'> 
        <div class="row">
            <div class="col-lg-9 col-xlg-9 col-md-9">
                <div class="form-group">
                    <label class="form-control-label">
                        <%= __('E-mail') %>
                    </label>
                    <input value="<%= profile?profile.emailAddress:'' %>" type="text" class="form-control"
                        data-fv-notempty="true" data-fv-notempty-message="<%= __('Required field') %>"
                        data-fv-message="<%= __('E-mail format is invalid') %>"
                        name="emailAddress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label">
                        <%= __('Phone') %>
                    </label>
                    <input value="<%= profile?profile.phone:'' %>" type="tel" class="form-control"
                        data-fv-notempty="true" data-fv-notempty-message="<%= __('Required field') %>"
                        data-fv-message="<%= __('Phone must be 9 to 12 number') %>"
                        name="phone" pattern="[0-9]{9,12}$" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label">
                        <%= __('First name') %>
                    </label>
                    <input value="<%= profile?profile.firstName:'' %>" type="text" class="form-control"
                        name="firstName" data-fv-notempty="true"
                        data-fv-notempty-message="<%= __('Required field') %>" required data-fv-stringlength="true"
                        data-fv-stringlength-min="2" data-fv-stringlength-max="20" 
                        data-fv-stringlength-message="<%= __('Firstname must be at least 2 characters and max 20 characters') %>" />
                </div>
                <div class="form-group">
                    <label class="form-control-label">
                        <%= __('Last name') %>
                    </label>
                    <input value="<%= profile?profile.lastName:'' %>" type="text" class="form-control"
                        name="lastName" data-fv-notempty="true"
                        data-fv-notempty-message="<%= __('Required field') %>" required data-fv-stringlength="true"
                        data-fv-stringlength-min="2" data-fv-stringlength-max="20" 
                        data-fv-stringlength-message="<%= __('Firstname must be at least 2 characters and max 20 characters') %>" />
                </div>
                <div class="form-group">
                    <label for="birthDate" class="form-control-label"><%= __('Birthday') %></label>
                    <input value="<%= profile?profile.birthday:'' %>" type="date" id="birthDate"
                        class="form-control" name="dateOfBirth">

                </div>
                <div class="form-group">
                    <label class="form-control-label">
                        <%= __('Password') %>
                    </label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group">
                    <label class="form-control-label">
                        <%= __('Confirm password') %>
                    </label>
                    <input type="password" class="form-control" name="passwordConfirm" id="confirm_password" />
                </div>
                <div class="alert alert-dismissible hidden" role="alert" data-alert-update="<%= __('Update successfully') %>">
                    <%= __('Update successfully') %>
                </div>
                <button type="reset" class="btn btn-default btn-outline btn-reset-page-account waves-effect waves-classic">
                    <%= __('Reset') %>
                </button>
                <button id="btnFormProfile" type="submit" class="btn btn-primary waves-effect waves-classic">
                    <%= __('Update') %>
                </button>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-3">
                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <input data-default-file="<%= profile.avatar ? profile.avatar : '/images/avatar2.png' %>" type="file"
                        class="dropify" name="thumbnail" data-field="thumbnail" data-max-file-size="3M" />
                </div>
            </div>
        </div>
    </form>


