<table class="table table-bordered table-hover dataTable" id="tblTuition">
  <thead>
    <tr class="bg-custom-primary">
      <th width="5%">
        <input id="js-check-all" class="js-checkbox-all checkbox" type="checkbox">
      </th>
      <th width="25%">
        <%= __('Title') %>
      </th>
      <th width="30%">
        <%= __('Contain') %>
      </th>
      <th width="15%">
        <%= __('Total cost') %>
      </th>
      <th width="15%">
        <%= __('Deadline') %>
      </th>
      <th width="5%">
        <%= __('Status') %>
      </th>
      <th width="5%">
        <%= __('') %>
      </th>
    </tr>
  </thead>
</table>