
<div class="page">
  <div class="page-header">
    <h1 class="page-title"><%= __('Media') %></h1>
    <div class="page-header-actions"> 
    </div>
  </div>
  <!-- Page Content -->
  <div class="page-content container-fluid">
      <div class="row">  
        <div class="col-xxl-12 col-xl-12 col-lg-12">
          <div class="panel">
            <div class="panel-body">
                <!-- Actions -->
                <div class="row">
                  <div class="page-content-actions">
                    <div class="dropdown float-left mr-10">
                        <button type="button" class="btn btn-default btn-outline dropdown-toggle waves-effect waves-classic" data-toggle="dropdown" aria-expanded="false">
                          <%= __('More') %>
                        </button>
                        <div class="dropdown-menu" role="menu">
                          <a class="dropdown-item" href="javascript:void(0)"><%= __('Trash') %></a>
                        </div>
                    </div>
                    <ul class="nav nav-pills nav-custom-table">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link <% if(status == -1) {%> active <% } %>" href="javascript:void(0)">
                          <%= __('All') %> <span class="badge badge-pill badge-outline-primary"><%= totalAll %></span>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link <% if(status == 1) {%> active <% } %>" href="javascript:void(0)">
                          <%= __('Publish') %> <span class="badge badge-pill badge-outline-primary"><%= totalActive %></span>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link <% if(status == 0) {%> active <% } %>" href="javascript:void(0)">
                          <%= __('Draft') %> <span class="badge badge-pill badge-outline-primary"><%= totalDraft %></span>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                          <a class="nav-link" href="javascript:void(0)">
                            <%= __('Trash') %> <span class="badge badge-pill badge-outline-primary"><%= totalTrash %></span>
                          </a>
                        </li>
                    </ul>
                  </div>
                </div> 
                <%- partial('./_list-media.ejs') %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div> 
<% block('localScripts', '<script src="/js/backend/food/index.js"></script>') %>

