<table class="table table-hover dataTable hidden tblAttendent" id="tblAttendentV1"
  data-classActive="<%= classActive %>" data-allowShuttlePersonInfo="<%= allowShuttlePersonInfo %>">
  <thead>
    <tr class="bg-custom-primary">
      <th width="15%">
        <%= __('#') %>
      </th>
      <th width="50%">
        <%= __('Student') %>
      </th>
      <th width="20%">
        <%= __('Current Place') %>
      </th>
      <th width="15%">
        <%= __('Status') %>
      </th>
    </tr>
  </thead>
</table>
<table class="table table-hover dataTable hidden tblAttendent" id="tblAttendentV2"
data-classActive="<%= classActive %>" data-allowShuttlePersonInfo="<%= allowShuttlePersonInfo %>">
<thead>
  <tr class="bg-custom-primary">
    <th width="10%">
      <%= __('#') %>
    </th>
    <th width="20%">
      <%= __('Student') %>
    </th>
    <th width="5%">
      <%= __('Time in') %>
    </th>
    <th width="26%">
      <%= __('IN') %>
    </th>
    <th width="5%">
      <%= __('Time out') %>
    </th>
    <th width="26%">
      <%= __('OUT') %>
    </th>
    <th width="8%">
      <%= __('Action') %>
    </th>
  </tr>
</thead>
</table>